<h1>List of all actors</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>
  </tr>

  <% @list_of_actors.each do |actor| %>
    <tr>
      <td><%= actor.id %></td>
      <td>
        <% if actor.image.present? %>
          <img src="<%= actor.image %>" alt="<%= actor.name %>" style ="width: 250px;">
        <% else %>
          
        <% end %>
      </td>
      <td><%= actor.name %></td>
      <td>
        <% if actor.dob.present? %>
          <%= actor.dob.strftime("%B %d, %Y") %>
        <% else %>
          
        <% end %>
      </td>
      <td>
        <a href="/actors/<%= actor.id %>">Show details</a>
      </td>
    </tr>
  <% end %>
</table>
