<h1>Director #<%= @director.id %> details</h1>
<a href="/directors">Go back</a>
<hr>

<dt>Name</dt>
<dd><%= @director.name %></dd>

<dt>Dob</dt> 
  <% if @director.dob.present? %>
    <dd><%= @director.dob.strftime("%B %d, %Y") %></dd>
  <% else %>
    
  <% end %>


<dt>Bio</dt>
<dd><%= @director.bio %></dd>

<dt>Image</dt>
<% if @director.image.present? %>
  <dd><img src="<%= @director.image %>" alt="<%= @director.name %>" width="250"></dd>
<% else %>
  
<% end %>

<dt>Created at</dt>
<dd><%= @director.created_at.strftime("%Y-%m-%d %H:%M:%S UTC") %></dd>

<dt>Updated at</dt>
<dd><%= @director.updated_at.strftime("%Y-%m-%d %H:%M:%S UTC") %></dd>

<hr>

<h2>Filmography</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.id %></td>
      <td>
        <% if movie.image.present? %>
          <img src="<%= movie.image %>" alt="<%= movie.title %>" width="250">
        <% else %>
          No image available
        <% end %>
      </td>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= @director.name %></td>
      <td>
        <a href="/movies/<%= movie.id %>">Show details</a> <!-- Add the movie link -->
      </td>
    </tr>
  <% end %>
</table>
